/*li {*/
    /*list-style: none;*/
    /*background-color: #f2f2f2;*/
/*}*/
/*li:nth-child(even) {*/
    /*padding-left: 15px;*/
    /*background-color: white;*/
/*}*/

li {
    list-style: none;
}
li:nth-child(even) {
    padding-left: 15px;
}





.occupied {
    background-color: #ff8080;
}

.available {
    background-color: #80ff80;
}

/*div > p:nth-child(even) {*/
    /*padding-left: 25px;*/
/*}*/

div > p {
    margin: 0px;
    font-size: 20px;
    text-align: center;
}

div > p:first-child {
    background-color: white;
}

